<div id="header">
  <nav id="nav-bar">

    <div id = "h-left">
      <a href="/auth/lobby">
        <div class = "logo">
            <img src="/public/images/logo.png">
            <img class = "hlogo" src="/public/images/highlighted_logo.png">
        </div>
      </a>
    </div>

    <div id = "h-container">
            <ul class="nav-containers">
              <li class="nav-item"><a href="/auth/lobby">Lobby</a></li>
              <li class="nav-item"><a href="/about">About</a></li>
              <li class="nav-item"><a href="/howtoplay">How to Play</a></li>
            <ul class="nav-containers">
    </div> 

    <div id = "h-right">
        
        <div id = "user-name">{{username}}</div>
        <!-- Comment the above statement out and un-comment statement below when backend is integrated -->
        <!--<div id = "user-name">{{user.username}}</div> -->

        <div class="dropdown-nav">
            <img class = "icon2" src="/public/images/icon.png">
            <div class="dropdown-content">
              <a href="/auth/lobby">Back to Lobby</a>
                <a href="/howtoplay">How to play</a>
                <a href="/about">About Us</a>
                 <a href="https://github.com/csc-667-fall-2022-sfsu-roberts/term-project-team-pcarkpab">Repository</a>
                <a href="/api/users/logout">Log out</a>
            </div>
        </div>
    </div>

    </nav>
</div>