<footer>
    <nav id="nav-footer">

    <div id = "f-left">
        <div>
          <a href="https://github.com/csc-667-fall-2022-sfsu-roberts/term-project-team-pcarkpab">
            <img class = "github-icon" src="/public/images/githubIcon.png">
          </a>
        </div>
        <div>
            <a href="https://github.com/csc-667-fall-2022-sfsu-roberts/term-project-team-pcarkpab">
                <p id="Descrip">Our Repository</p> 
            </a>
        </div>
        
    </div>

     <div id = "f-container">
        <ul class="f-containers">
            <li class="f-item"><a href="/about">About</a></li>
            <li class="f-item"><a href="/howtoplay">How to Play</a></li>
            <ul class="f-containers">
    </div> 
  </nav>
  
</footer>