<nav id="nav-bar">
  <a><p class="Logo">Logo</p></a>
  <ul class="nav-containers">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/signup">Sign up</a></li>
    <li class="nav-item"><a href="/login">Log in</a></li>
  </ul>
</nav>