<div id="header">

  <nav id="nav-bar">

    <div id = "h-left">
      <a href="/">
        <div class = "logo">
          <img src="/public/images/logo.png">
          <img class = "hlogo" src="/public/images/highlighted_logo.png">
        </div>
      </a>
    </div>

     <div id = "h-container">
        <ul class="nav-containers">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/howtoplay">How to Play</a></li>
            <ul class="nav-containers">
    </div> 

    <div id = "h-right">
      <a href="/signup" class="button button2">Sign Up</button></a> 
       <a href="/login" class="button button1">Log in</button></a>
     </div>
  </nav>
  
</div>