<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta  http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <link rel="stylesheet" type ="text/css" href="/public/css/navbar.css">
  <link rel="stylesheet" type ="text/css" href="/public/css/style.css">
  <link rel="stylesheet" type ="text/css" href="/public/css/gameStyle.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.3.0/handlebars.runtime.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/socket.js"></script>
  
  <title>{{title}}</title>
</head>
<body>
  {{#if logged}}
    {{>auth_nav}}
  {{else}}
    {{>nav}}
  {{/if}}

  {{{body}}}
  

</body>
</html>