/*This file contains the stylings for the About Us page.*/

/* Fonts Imported */

@font-face {
  font-family: "AlegreyaHeaderFont";
  src: url("../css/fonts/Alegreya-Regular.otf");
}

@font-face {
  font-family: "CentaurLabelFont";
  src: url("../css/fonts/Centaur.ttf")
}

h1 {
  font-family: "AlegreyaHeaderFont";
  font-size: 45px;
  text-align: center;
  color : rgb(0, 0, 0);
  text-shadow: -1px 0 rgb(76, 0, 255), 0 1px rgb(76, 0, 255), 1px 0 rgb(76, 0, 255), 0 -1px rgb(76, 0, 255);
  text-shadow: 1px 1px 2px black;
}

p[id="Description"] {
font-family: "CentaurLabelFont";
text-align: center;
font-size: 30px;
text-shadow: 0 0 black;
font-weight: bold;
}

p[id="Subtitle"] {
  font-family: "CentaurLabelFont";
  font-size: xx-small;
  margin: auto;
  overflow: auto;
  text-align: center;
}


p[id="Message"] {
  display: none;
  font-family: "CentaurLabelFont";
  font-size: xx-large;
  margin: auto;
  overflow: auto;
  text-align: center;
}


div[class="MessageDIV"] {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 325px;
  max-height: 250px;
}


button[id="PokerLogoSubmit"] {
  background-image: url(../css/fonts/LoginSignupLogo2.png);
  /* max-width: 152px; */
  filter: drop-shadow(0 0 0.05rem rgb(0, 0, 0));
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: white;
  padding: 140px 160px 80px 160px;
  /* align-items: center; */
  text-align: center;
  
  
}

button[id="PokerLogoSubmit"]:hover {
  filter: drop-shadow(0 0 0.1rem rgb(255, 0, 0));
  animation: fadein 0.5s;

}


@keyframes fadein {
  from {
      filter: drop-shadow(0 0 0.05rem rgb(0, 0, 0));

  }
  to {
      filter: drop-shadow(0 0 0.1rem rgb(255, 0, 0));
      opacity: 1;
  }
}
