#m-card1 {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.350, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
    z-index:104;
  }

#m-card2 {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.350, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
    z-index:104;
  }

#m-card3 {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.350, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
    z-index:104;
  }

#m-card4 {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.350, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
    z-index:104;
  }

#m-card5 {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.350, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
    z-index:104;
  }

  #m-card1.c1-place {
    display: block;
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 36.5%;
    left: 32.5%;
  }
  #m-card2.c2-place {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 36.5%;
    left: 39.5%;
  }
  #m-card3.c3-place {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 36.5%;
    left: 46.5%;
  }
  #m-card4.c4-place {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 36.5%;
    left: 53.5%;
  }
  #m-card5.c5-place {
    position: absolute;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 36.5%;
    left:61%;
  }

  #m-cards.return-card {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
  }
  
  #box.rightbox {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    top: 8%;
    left: 39%;
    max-width: 80%;
  }