/*form {
    padding: 15px 25px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
   
  form label {
    font-size: 1.5rem;
    font-weight: bold;
  }*/
   
  input {
    font-family: "Lato";
  }
   
  a {
    color: #0000ff;
    text-decoration: none;
  }
   
  a:hover {
    text-decoration: underline;
  }
   
  #chat-name{
    height: 60%;
    z-index: 102;
  border-radius: 3px;
  background-color:  rgb(31, 25, 20);
  border: 3px solid  rgb(64, 59, 57);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;

  color: rgb(166, 166, 166);
  font-family: Calbri, sans-serif;
  font-weight: bold;
  font-size: .8em;
  }
  .game-chat{
    height: 400px;
  }

  .chat-box {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: rgb(71, 59, 51);
    height: 260px;
    max-width: 100%;
    border: 2px solid #b55e35;
    overflow-y:auto;
    border-radius: 4px;
    border-bottom: 4px solid #58452a;
  }
 

  .message{
  color: rgb(0, 0, 0);
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.5em;
    word-wrap: break-word;
}

.c-bubble{
    margin-bottom: 1px;
    position: relative;
  font-family: sans-serif;
  margin-left: 0px;
  font-size: 11px;
  line-height: 15px;
  max-width: 90%;
  background: #fff;
  border-radius: 20px;
  padding: 7px;
  text-align: left;

}

.left-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid #fff;
  border-right: 6px solid transparent;
  border-top: 4px solid #fff;
  border-bottom: 8px solid transparent;
  left: 5px;
  bottom: -5px;
}

#chat-holder{
    position: relative;
    display: flex;
}
  .send-message {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #ff9800;
    padding: 2px;
    max-width:70%;
  }
   
  .sender-chat {
    margin-top: -10px;
    position:relative;
    color: rgb(249, 184, 143);
    font-family: Verdana, sans-serif;
    font-size: 0.38em;
    font-weight:bold;
    padding: 2px 8px;
  }
  .date-chat {
    max-width: 100px;
    left: 45%;
    position:relative;
    color: rgb(160, 156, 156);
    font-family: Verdana, sans-serif;
    font-size: 0.30em;
    padding: 2px 8px;
  }
   
  /*.send-button,
  /*#enter{
    background: #ff9800;
    border: 2px solid #e65100;
    color: rgb(255, 255, 255);
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }*/
  .send-button{
    font-family: sans-serif;
    background-color: #cc6714; 
    color: rgb(52, 32, 28); 
    border: 2px solid #bf530b; 
    padding: 6px 10px;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.5s;
  }
  
  .send-button:hover {
    background-color: #f4994e; 
    transform: scale(1.1);
    color: white;
    cursor: pointer;
  }

  /* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(148, 143, 140); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(100, 90, 80); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #965831; 
  }
   
  .error {
    color: #ff0000;
  }
   
  .msgln {
    margin: 0 0 5px 0;
  }
   
  .msgln span.left-info {
    color: orangered;
  }
   
  .msgln span.chat-time {
    color: #666;
    font-size: 60%;
    vertical-align: super;
  }
   
  .msgln b.user-name, .msgln b.user-name-left {
    font-weight: bold;
    background: #546e7a;
    color: white;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
  }
   
  .msgln b.user-name-left {
    background: orangered;
  }

  .console-chat{
    height:275px;
  }
  .console-box {
    text-align: left;
    margin: 0 auto;
    background: rgb(30, 27, 24);
    height: 90%;
    max-width: 100%;
    border: 2px solid #3b2f2a;
    overflow-y:auto;
    border-radius: 4px;
    border-bottom: 4px solid #41382b;
  }

  #console-name{
    height: 15%;
    z-index: 102;
  border-radius: 3px;
  background-color:  rgb(31, 25, 20);
  border: 3px solid  rgb(64, 59, 57);

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 10px;

  color: rgb(166, 166, 166);
  font-size: .8em;
  }

  .console-message{
    color: rgb(179, 167, 167);
      font-weight: bold;
      font-size: 0.7em;
      word-wrap: break-word;
      padding: 5px;
  }
  .console-date{
    color: rgb(107, 99, 99);
      font-weight: bold;
      font-size: 0.5em;
      position: relative;
      padding-left: 3px;
      position: relative;
      top:-1%;
  }

  #announce-container{
    position: relative;
    top:57%;
    display: flex;
    justify-content: center;
  }
  .announce-message {
    
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    
    background: rgba(91, 220, 124, 0.4);
    border-radius: 10px;
    border: #3b2f2a;
    padding: 14px;
    text-align: center;
    color: rgb(255, 255, 255);
  }