#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.562);
}

.nav-containers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.nav-item , .nav-item a{
  display: inline-block;
  font-size: 32px; 
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.Logo {
  color:blue;
  font-size: 32px;
}