/* Fonts Imported */

@font-face {
  font-family: "AlegreyaHeaderFont";
  src: url("../css/fonts/Alegreya-Regular.otf");
}

@font-face {
  font-family: "CentaurLabelFont";
  src: url("../css/fonts/Centaur.ttf")
}


#nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 130px;
  max-height: 175px;
  align-items: center;
  background-color: rgb(0,0,0);
  }

  #h-container{
    display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: left;
  }

  #h-left{
    display: flex;
    justify-content: left;
  }
  .logo{
    max-width: 95%;
    padding-left: 5px;
    position: relative;
    display: inline-block;
  }
  .hlogo{
    display: none;
    padding-left: 5px;
    max-width: 105%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
  }
  .logo:hover .hlogo {
    display: inline;
}
  #h-right{
    display: flex;
    justify-content: space-between;
    max-width: 120%
  }
  .button {
    border-radius: 1em;
    text-align: center;
    font-size: 0.30em;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "AlegreyaHeaderFont";
    font-weight: bold;
  }
  
  .button1 {
    padding: 20px 30px;
    background-color: #d86b13; 
    color: black; 
    border: 2px solid #bf530b; 
  }
  
  .button1:hover {
    background-color: #ee7d20; 
    color: white;
  }
  .button1:link { text-decoration: none; }

  .button2 {
    padding: 20px 30px;
    background-color: rgb(219, 42, 36);
    color: rgb(255, 215, 213);
    border: 2px solid rgb(161, 30, 26);
    margin-right: 30px;
  }
  
  .button2:hover {
    background-color: rgb(247, 105, 100);
    color: white;
  }
  .button2:link { text-decoration: none; }

  .button3 {
    display: block;
    position: relative;
    top: -10px;
    padding: 15px 20px;
    background-color: rgb(219, 42, 36);
    color: rgb(255, 215, 213);
    border: 2px solid rgb(161, 30, 26);
    margin: auto;
}

  .button3:hover {
    background-color: rgb(247, 105, 100);
    color: white;
  }
  .button3:link { text-decoration: none; }


  .nav-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
  }

  .nav-item , .nav-item a{
    display: inline-block;
    font-size: 32px; 
    padding: 15px;
    font-family: "AlegreyaHeaderFont";
    text-decoration: none;
    font-size: 2rem;
    color:white;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
    text-shadow: 1px 0px 10px red;
  }

  .nav-item:hover {
    background-color: #b3611e; 
    text-decoration: none;
    color: white;
  }

  .icon2 {
    position: relative;
    z-index: 105;

    max-width: 80px;
    max-height: 80px;
    border-radius: 999em;
    line-height: 0;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }

  .icon2:hover{
    box-shadow: 0 0 5px 5px #bf530b;
    transition: 0.2s;
  }

  #user-name{
    position: relative;
    left:-10%;
    top: 30px;
    font-family: "AlegreyaHeaderFont";
    text-decoration: none;
    font-weight: bold;
    color:#efae7a; 
    font-size: 1.5rem;
  }
  
  .user-name a:hover{
    color: #FFFFFF;
    transition: 0.2s;
  }

  .dropdown-nav {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown-nav:hover .dropdown-content {
    z-index: 104;
    display: block;
    width: 150%;
    margin-left: -50px;
    background-color: #efae7a; 
    border: 3px solid #bf530b;
    border-radius: 5px;
  }

  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 10px;
    font-family: "CentaurLabelFont";
    text-decoration: none;
    font-size: 1em;
  }

  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #d86b13; 
    transition: 0.2s;
  }

#nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0,0,0);
    margin-top: auto;
    bottom: 0;
    width: 100%;

    position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem; 
   
}

#f-left{
  display:flex;
  align-items: flex-start;
  max-width: 50%;
}

p[id="Descrip"]{
  color:#ee7d20;
  padding-left: 15px;
  padding-top: 20px;
}
p[id="Descrip"]:hover{
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s;
}

.f-container{
  padding-left: 30px;
}

.f-containers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.f-item , .f-item a{
  display: inline-block;
  padding-left: 10px;
  font-family: "AlegreyaHeaderFont";
  text-decoration: none;
  font-size: 1rem;
  color:rgb(207, 133, 104);
  transition-duration: 0.3s;
  cursor: pointer;
  position: relative;
  text-shadow: 1px 0px 10px red;
}

.f-item:hover {
  text-decoration: none;
  color: white;
}