/*This CSS page describes the styling for the login, signup 
and lobby creation pages.*/

/* Fonts Imported */

@font-face {
  font-family: "AlegreyaHeaderFont";
  src: url("../css/fonts/Alegreya-Regular.otf");
}

@font-face {
  font-family: "CentaurLabelFont";
  src: url("../css/fonts/Centaur.ttf")
}

/*--- CSS Styling for Signing Up ---*/

/* Signup.hbs*/

/*--- CSS Styling for Logging In ---*/

/* Login/LoginAfterSignup.hbs */

form[id="login-form"], form[id="signup-form"], form[id="lobby-form"] {
margin: 15px 0px 20px 0px;
}

p[id="Register"], h3[id="Lobbytext2"] {
  font-family: "CentaurLabelFont";
  text-align: center;
  font-size: 25px;
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
  border-style: outset;
  box-sizing: border-box;
  border-color: red;
  padding: 5px 5px 5px 5px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
}



/* General CSS Styling */



h2 {
  font-family: "AlegreyaHeaderFont";
    font-size: 45px;
    text-align: center;
    color: rgb(370, 0, 40);
    text-shadow: -1px 0 rgb(76 0 255), 0 1px rgb(76 0 255), 1px 0 rgb(76 0 255), 0 -1px rgb(76 0 255);
    text-shadow: 1px 1px 2px black;
}

label {
  display: block;
  text-align: center;
  font-family: "CentaurLabelFont";
  font-size: 20px;
  text-shadow: 0px 1px 2px rgb(34 31 31);
  margin: 0px 0px 5px 0px;
}


/*Div will be stylized so that they stand out.*/

div[id="UsernameDIV"], div[id="EmailDIV"],
div[id="PasswordDIV"], div[id="ConfirmPasswordDIV"],
div[id="BetDIV"], div[id="GamePassDIV"] {
  display: grid;
  border-style: inset;
  box-sizing: border-box;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: white;
  padding: 5px 0px 0px 0px;
}

div[id="CheckDIV"] {
  border-style: inset;
  box-sizing: border-box;
  width: 250px;
  padding: 10px 0px 10px 0px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
}

/* The input boxes besides the description will be aligned with a simple drop shadow.*/
input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-style: outset;
  border-color: red;
}

input[id="username"], input[id="password"], input[id="user-email"], input[id="user-password"], 
input[id="confirm-password"], input[id="create-minimumBet"], input[id="create-gamePassword"] {
  font-family: "AlegreyaHeaderFont";
  text-align: center;
}

input[id="PokerLogoSubmit"], input[id="create-lobby-button"] {
  max-width: 120px;
  filter: drop-shadow(0 0 0.05rem rgb(0, 0, 0));
  margin-left: auto;
  margin-right: auto;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  
}

input[id="PokerLogoSubmit"]:hover, input[id="create-lobby-button"]:hover {
  filter: drop-shadow(0 0 0.3rem rgb(255, 0, 0));
  animation: fadein 0.5s;
}


@keyframes fadein {
  from {
      filter: drop-shadow(0 0 0.05rem rgb(0, 0, 0));

  }
  to {
      filter: drop-shadow(0 0 0.3rem rgb(255, 0, 0));
      opacity: 1;
  }
}


p[id="Submit"] {    
  font-family: "CentaurLabelFont";
  text-align: center;
  font-size: 20px;
  text-shadow: 0px 1px 2px rgb(30 30 30);
  margin: 0px 0px 5px 0px;

}

/*This "container_Border" attribute surrounds the 
registration info with a gray flex container, and
has a width of 500px along with a centered margin
(margin-left/margin-right: auto). It also has a 
drop shadow similar to a flex container I made from
my first website.*/
.container_Border, .Lobby_Border {
  position: static;
  display: flex;
  width: 500px;
  height: auto;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 50px;
  background: #000000;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}
