.slidecontainer {
    width: 80%; 
    margin:auto;
  }
  
  .slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 65%; 
    height: 25px;
    background: #423a3a; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }
  

  .slider:hover {
    opacity: 1; 
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #d1590f;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #d1590f;
    cursor: pointer; 
  }