<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="stylesheet" type="text/css" href="../css/fonts/style.css">
    <script type="text/javascript" src="/routes/public/display.js"></script>
    <title>About</title>
</head>
<div>
    <h1>ABOUT PAGE, unauthenticated</h1>
  
    <p id="Description">Hello, our team name is pcarkpab.* Yeah I know, hard to pronounce but oh well</p>
      <p id="Subtitle">*Technically it was supposed to be Hail to the Proxy, but we created the repo too late... oh well. </p>
  
    <br>
  
    <div class="MessageDIV">
      <button onclick="messageAppear()" id="PokerLogoSubmit" src="../css/fonts/LoginSignupLogo2.png"></button>
      </div>
        <p id="Message">Our group assembled in the olden days of late September 2022 to create the best online poker game in the history of poker games!
          After realizing that it would be impossible within the timespan we settled for the best online poker game we could make within two months.
        ...And after realizing that also wasn't feasible, thanks to a little obstacle in our way called "CSC 415," we decided to take home the title of
        the prototype for the best online poker game in the history of poker games. And that's what we aimed for and hit perfectly in the eye! So, sit back,
        relax and enjoy a game of poker created by a group of students with the tools of Handlebars, CSS, JavaScript, React, Postgres and a grand heaping of stress! :)
        </p>
  </div>
</div>
