<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/routes/public/css/AboutUs.css">
    <link rel="stylesheet" type="text/css" href="/routes/public/css/Registration.css">
    <link rel="stylesheet" type="text/css" href="/routes/public/css/FAQ and Help.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script defer src="/routes/display.js"></script>
    <title>{{title}}</title>
</head>


<div>
  <h1>HOME PAGE, unauthenticated</h1>
  <h3>Aight, so here's what we got so far.</h3>

  <p>if you wanna test the authenticated pages, access it via the login page</p>
</div>

 </html>