<div "home-container">
  <div class="home-menu">
    <h1>Welcome to Online Poker </h1>
    <h3>Menu</h3>
    <p><a href="/lobby">Game Page</a></p>
    <p><a href="/game">Lobby Page</a></p>
    <p><a href="/game">About Page</a></p>
  </div>
</div>