
<div>
  <h1>HOME PAGE</h1>
  <p id="Description">Welcome to our Poker Game site, built in "totally-not-less-than-a-week" by 4 SFSU college students!

<br><br>
  By the way, SFSU CS Students, anyone recognize who this is below? ;)</p><br>
</div>

 <img src="/public/images/Anime Bierman.png" id= "hands">
 <div id="reg-space"></div>