
<div>
  <h1>HOW TO PLAY</h1>

  <p id="Description">Poker may be a bit hard to understand at first, but here's the breakdown.</p>
<br>
  <p id="Message2">
    1. Learn the 10 basic 5-card hands and their ranking. No matter what type of poker you play, the hands will always be the same. To start familiarizing yourself with the different hands, print out a "cheat sheet" and study it. Then, memorize the different hands so you can easily recognize them. Here are the winning poker hands, from highest to lowest:
  </p>
    <br>
    <img src="/public/images/pokerhands.png" id= "hands">
    <br>
    <p id="Message2">
Place the blinds (starting bets) or "ante up." In poker, bets are placed at the beginning of the game in one of 2 ways. In Texas Hold’em, the player next to the dealer typically places a small blind bet that’s half of the usual minimum bet, while the player to that person’s left places a big blind that’s at least the minimum bet. As another option, each player can “ante up” the minimum starting bet, which means placing a minimum starting bet into the pool.[1]
Aside from Texas Hold’em, most poker variants use an “ante up” system. </p>
<br>
    <p id="Message2">
Bet, call or raise after each round is dealt if you want to. Every time the dealer puts out new cards, you'll make a bet, with the first bet being made solely based on the two cards the players have in their hands. Betting happens in a circle – when it's your turn to bet, you have a few options. 
<br>
<br>At this point you can:
Place an initial bet if no one else has yet.<br>
-Say "check" to avoid betting.<br>
-Say "call" to match the bet someone else has made.<br>
-Say "raise" to add more money to the betting pool. If you "raise," the other players will go around in a circle and choose to either "call" your new bet or fold.<br>
-Say "fold" if someone else has bet and you don't want to match their bet. If you fold, turn your cards into the dealer face-down to avoid giving the other players any advantages!</p><br>
</div>
 <div id="reg-space"></div>