{{>nav}}
<div>
  <h2>Login Page</h2>
  <p>Clicking on the log in button below would lead you to an authenticated page regardless... for now</p>
  <form>
    <label>
      Username
    </label>
    <input type="text">
    <br>
    <label>
      Password
    </label>
    <input type="password">
    <br><br>
    <a href="/lobby" class="button button2">Log In</button></a> 
  </form>
</div>