{{>nav}}
<div>
  <h1>SIGN UP FOR POKER</h1>
  <p>Clicking on the sign up button below would lead you back to the log in page</p>
  <form>
    <label>
      Username
    </label>
    <input type="text">
    <br>
    <label>
      Email
    </label>
    <input type="email">
    <br>
    <label>
      Password
    </label>
    <input type="password">
    <br>
    <label>
      Confirm Password
    </label>
    <input type="password">
    <br>
    <input type="checkbox">
    <label>
      You are 13 and older
    </label>
    <br>
    <input type="checkbox">
    <label>
      I agree to your term and service.
    </label>
    <br><br>

    <a href="/loginAfterSignup" class="button button2">Sign Up</button></a> 
  </form>
</div>