{{>nav}}
<div>
  <h1>SIGN UP FOR POKER</h1>
  <p>Clicking on the sign up button below would lead you back to the log in page</p>
  <form id ="signup-form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
    <label>
      Username
    </label>
    <input type="text" id="username" name="username" required><br>
    <br>
    <label>
      Email
    </label>
    <input type="email" id="user-email" name="email" required><br>
    <br>
    <label>
      Password
    </label>
    <input type="password" id="user-password" name="password" required><br>
    <br>
    <label>
      Confirm Password
    </label>
    <input type="password" id="confirm-password" name="cPassword" required><br>
    <br>
    <input type="checkbox" required>
    <label>
      You are 13 and older
    </label>
    <br>
    <input type="checkbox">
    <label>
      I agree to your term and service.
    </label>
    <br><br>

    <input type="submit" value="Sign up"> 
  </form>
</div>