 <h2>Registration</h2>
    <!-- <p>Clicking on the sign up button below would lead you back to the log in page</p> -->
</header>

<div class="container_Border">
    <form id ="signup-form" method="POST" action="/api/users/register" enctype="application/x-www-form-urlencoded">
        <p id="Register">Register a New Account</p>

      <div id="UsernameDIV">
        <label>
          Create a New Username
        </label>
        <input type="text" id="username" name="username" placeholder="Enter Valid Username" required><br>
      </div>
      <br>

      <div id="EmailDIV">
        <label>
         Create a New Email
        </label>
        <input type="email" id="user-email" name="email" placeholder="Enter Valid Email" required><br>
      </div>
      <br>

      <div id="PasswordDIV">
        <label>
          Create a New Password
        </label>
        <input type="password" id="user-password" name="password" placeholder="Enter Valid Password" required><br>
      </div>
      <br>

      <div id="ConfirmPasswordDIV">
      <label>
        Confirm Password
      </label>
      <input type="password" id="confirm-password" name="cPassword" placeholder="Confirm Password" onkeydown="checkConfirmPassword()" required><br>
      </div>
      <br>

      <div id="CheckDIV">
      <input type="checkbox" required>
      <label>
        You are 21+ years of age.
      </label>

      <input type="checkbox">
      <label>
        I agree to your Terms of Use policy.
      </label>
      </div>
      <br>
    <!--<input type="submit" class="button button3" alt="Submit"> -->
    <p id="Submit">Sign Up</p>
    <input type="image" id="PokerLogoSubmit" src="../public/css/fonts/LoginSignupLogo2.png" alt="Submit">    
    
  </form>
  
  </div>
 <div id="reg-space"></div>

{{!--   
<div id="pw-message">
  <h3>Passwords do not match</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div> --}}

<!-- Confirm password matching -->
<script>
var password = document.getElementById("user-password");
var cpassword = document.getElementById("confirm-password");
document.querySelector("form").addEventListener("submit", 
function(event){
  if (password.value !== cpassword.value){
    event.preventDefault();
    alert("The password and confirm password do not match!")
  }else{
    alert("Sign-Up Successful");
  } 
});
</script>