{{>auth_nav}}
<div>
  <h1>About Page, Authenticated</h1>

  <p>Hello, our team name is pcarkpab. Yeah i know, hard to pronounce but oh well</p>

  <p>We're gonna build a poker game, and yada yada yada more info blah blah</p>
  
  <p>OPTIONAL PAGE, if we get to this, else we remove it later</p>
</div>