{{>auth_nav}}
<div>
  <h1>HOW TO PLAY PAGE, Authenticated</h1>

  <p>Authenticated Version... Also Man you really want to lose your money huh</p>

  <p>OPTIONAL PAGE, if we get to this, else we remove it later</p>
</div>