<div>
  <h1>LOBBY PAGE, Authenticated</h1>
  <h2> Welcome {{username}}, userId: {{userId}}</h2>
  
  <h3 id="Lobbytext1">List of Lobbies</h3>
  <div class="lobby-list">
    <table id="lobby-table">
      <tr>
        <th>Lobby ID</th>
        <th>Owner</th>
        <th>Minimum Bet</th>
        <th>Game State</th>
        <th>Player(s)</th>
        <th>Play</th>
      </tr>
      
    </table>
  </div>

<br>

<div class="Lobby_Border">
  <form id="lobby-form">
      <h3 id="Lobbytext2">New Lobby</h3>

      <div id="BetDIV">
        <label>
          Minimum Bet
        </label>
        <input type="text" id="create-minimumBet" placeholder="Enter Minimum Bet" required><br>
      </div>
      <br>
    

      <div id="GamePassDIV">
        <label>
          Game Password
        </label>
        <input type="text" id="create-gamePassword" placeholder="Enter Game Password" required><br>
      </div>
      <br>

    <p id="Submit">Create Lobby</p>

      <input type="image" id="create-lobby-button" src="../public/css/fonts/LoginSignupLogo2.png" alt="submit"> 
      <br>


      <a id="waiting-room" href="/auth/waitingRoom">Waiting Room</a>


    </form>
  </div>


<script src="/socket.io/socket.io.js" ></script>
<script src="/public/js/test-socket.js"></script>
<script src="/public/js/lobby-page.js"></script>
</div>