<div>
  <!--<h1>LOBBY PAGE, Authenticated</h1> -->
  <div id = "lobby-header">
    Welcome {{username}}<!--, userId: {{userId}}-->
  </div>
<div id = "lobby-grid">

  <div class="game-chat-lobby lobby-place">

            <div id="chatbox">
                
                <div id="chat-name">Game Chat</div>

                <div id="chat-0" class="chat-box">
                    <div class="message c-bubble left-bubble">
                        <p>Welcome to the Lobbychat!</p>
                    </div>  <br>
                </div>
            </div>

            <div id = "chat-holder">
                <input id="send-message-text-0" type="text" class = "send-message" >
                <input id="send-message-button-0" type="button" value="Send" class = "send-button">
            </div>

  </div>
  
<div class = "lobbies-list">
  <h3 id="Lobbytext1">List of Lobbies</h3>
  <div class="lobby-list">
    <table id="lobby-table">
      <tr>
        <th>Lobby ID</th>
        <th>Owner</th>
        <th>Minimum Bet</th>
        <th>Game State</th>
        <th>Player(s)</th>
        <th>Play</th>
      </tr>
      
    </table>
  </div>
  </div>

<div class="Lobby_Border lobby-place">
  <form id="lobby-form">
      <h3 id="Lobbytext2">New Lobby</h3>

      <div id="BetDIV">
        <label>
          Minimum Bet
        </label>
        <input type="text" id="create-minimumBet" placeholder="Enter Minimum Bet" required><br>
      </div>
      
    <p id="Submit">Create Lobby</p>
      <input type="image" id="create-lobby-button" src="../public/css/fonts/LoginSignupLogo2.png" alt="submit"> 
    </form>
  </div>

</div>

<script src="/public/js/lobby-page.js"></script>
<script src="/public/js/abdul.js"></script>
</div>
 <div id="reg-space"></div>