
<div>
  <h1>LOBBY PAGE, Authenticated</h1>
  <p> Hello {{username}}, userId: {{userId}}</p>
  <p>Now you're "logged in"! To log back out, just click the Log out button</p>
  <p>Also noticed how the nav bar changed? Feel free to test out the authenticated links in the bar as well :D</p>
  <br>
  <p>Also here's a link to starting a game below:</p>

  <form id="lobby-create" method="POST" action="/lobby/create" enctype="application/x-www-form-urlencoded">
    <p>Creat Lobby</p>
    <label>Minimum Bet</label><br>
    <input type="text" name="minimumBet"><br>
    <label>Game Password</label><br>
    <input type="text" name="gamePassword"><br>

    <input type="submit" value="CREATE"> <br>
  </form>


  <a href="/waitingRoom">Lobby Page</a>
</div>

<script src="/socket.io/socket.io.js" ></script>
<script src="public/js/test-socket.js"></script>