
<div>
  <h1>WAITING ROOM, Authenticated</h1>

  <h3>CHAT</h3>
  
  <div id="global-chat" class="chat-box">
    <div class="message">
      <p>User:  Test message</p>
    </div>
    
  </div>
  <p>--------------------------------</p>
  <div>
    <input id="send-message-text" type="text">
    <input id="send-message-button" type="button" value="send">
  </div>
  <p>This is where users gather before a game starts, link to game page below if User is the creator</p>
<div id="list-rooms">
  <p id="p1">Testing if make game button appears below..</p>
</div>

  <script src="/public/js/lobbytest.js"></script>
  <script src="/public/js/test-chat.js"></script>
  
</div>
